name: Helm CI

on:
    push:
      branches: ["main"]
      paths:
        - "charts/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Helm lint
        run: helm lint charts/devops-tech-challenge

      - name: Helm template (smoke)
        run: |
          helm template dtc charts/devops-tech-challenge \
            --set app.image.repository=dummy \
            --set app.image.tag=dummy
